version: '3'

services:
    rundeck:
        image: rundeck/rundeck:SNAPSHOT
        links:
          - mysql
        environment:
            RUNDECK_DATABASE_DRIVER: ${RUNDECK_DATABASE_DRIVER}
            RUNDECK_DATABASE_USERNAME: ${RUNDECK_DATABASE_USERNAME}
            RUNDECK_DATABASE_PASSWORD: ${RUNDECK_DATABASE_PASSWORD}
            RUNDECK_DATABASE_URL: ${RUNDECK_DATABASE_URL}
            RUNDECK_GRAILS_URL: ${RUNDECK_GRAILS_URL}
        volumes:
          - ${RUNDECK_LICENSE_FILE:-/dev/null}:/home/rundeck/etc/rundeckpro-license.key
        ports:
          - 4440:4440
    mysql:
        image: mysql:5.7
        expose:
          - 3306
        environment:
          - MYSQL_ROOT_PASSWORD=root
          - MYSQL_DATABASE=rundeck
          - MYSQL_USER=rundeck
          - MYSQL_PASSWORD=rundeck
        volumes:
          - ./dbdata:/var/lib/mysql
